[Unit]
Description=Neural Services Group (neural_gate + neural_infer)
Conflicts=test.target
Wants=neural_gate.service
AllowIsolate=yes

[Install]
WantedBy=sim-session.service
